In [ ]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [ ]:
fruit = ["Apple","Banana","Orange","Strawberry"]

In [ ]:
process.extract("apple",fruit)

In [ ]:
process.extract("snapple",fruit)

In [ ]:
process.extractOne("carrot",fruit)

In [ ]:
process.dedupe?

In [ ]:
process.default_processor("This is a LONG string. IT has some Random *(masf98hps9dn) in it")

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv(r'./Admissions_to_DMHAS_Addiction_Treatment_by_Town__Year__Month__and_Primary_Drug.csv')

In [5]:
data.head()

,FiscalYear,MonthYear,Town,AdmMonth,FYMonthOrder,AdmYear,PrimaryDrug,AdmCount
0,2014,Jan-14,Ansonia,1,7,2014,Alcohol,14.0
1,2014,Jan-14,Ansonia,1,7,2014,Crack,NaN
2,2014,Jan-14,Ansonia,1,7,2014,Heroin,8.0
3,2014,Jan-14,Ansonia,1,7,2014,"Marijuana, Hashish, THC",NaN
4,2014,Jan-14,Ansonia,1,7,2014,Other Opiates and Synthetics,NaN

In [7]:
np.unique(data['PrimaryDrug'])

array(['Alcohol', 'Amphetamines', 'Barbiturates', 'Benzodiazepines',
       'Cocaine', 'Cocaine/Crack', 'Crack',
       'Hallucinogens: LSD, DMS, STP, etc', 'Heroin', 'Inhalants',
       'Marijuana, Hashish, THC', 'Methamphetamines',
       'Non-Prescriptive Methadone', 'Other',
       'Other Opiates and Synthetics', 'Other Sedatives or Hypnotics',
       'Other Stimulants', 'Over-the-Counter', 'PCP', 'Tobacco',
       'Tranquilizers'], dtype=object)

In [17]:
data[(data['PrimaryDrug'] == "Alcohol") & (data['AdmCount'].notnull())]['AdmCount'].sum()

67886.0

In [10]:
data['AdmCount'].groupby(data['PrimaryDrug']).sum()

PrimaryDrug
Alcohol                              67886.0
Amphetamines                             0.0
Barbiturates                             0.0
Benzodiazepines                        693.0
Cocaine                               4521.0
Cocaine/Crack                            0.0
Crack                                 4159.0
Hallucinogens: LSD, DMS, STP, etc       24.0
Heroin                               66026.0
Inhalants                                6.0
Marijuana, Hashish, THC              20709.0
Methamphetamines                         0.0
Non-Prescriptive Methadone               0.0
Other                                    0.0
Other Opiates and Synthetics          4535.0
Other Sedatives or Hypnotics             0.0
Other Stimulants                         0.0
Over-the-Counter                         0.0
PCP                                   2185.0
Tobacco                                  0.0
Tranquilizers                            0.0
Name: AdmCount, dtype: float64